@font-face {
    font-family: 'spotipi';
    src: url(../font/Gotham-Font/GothamMedium.ttf);
}

@font-face {
    font-family: 'spotipi tipis';
    src: url(../font/Gotham-Font/Gotham-Light.otf);
}


*
{
    background-color: rgb(13, 13, 13);
    color: white;
    font-family: 'spotipi';
    font-size: 14px;
}

#footer
{
    float: left;
    width: 1200px;
    height: 450px;
    margin-left: 180px;
    margin-top: 50px;
}

#footer_kiri ul
{
    float: left;
    margin-left: 20px;
}

#footer_kiri ul li
{
    margin-top: 30px;
    list-style: none;
}

#footer_kiri a
{
    text-decoration: none;
}

#footer_kiri li:hover
{
    color: #1ed760;
}

#footer_kanan
{
    float: right;
    margin-right: 200px;
    margin-top: 50px;
}

#footer_kanan div
{
    margin-top: 20px;
}


#logo_sosmed:hover .logo_sosmed
{
    background-color: #1ed760;
}

.logo_sosmed
{
    background-color: white; 
    margin: 12px 0px 0px 12px;
}

#logo_sosmed
{
    width: 50px; 
    height: 50px; 
    border: 1px solid rgb(39, 40, 39); 
    border-radius: 25px; 
    background-color: rgb(39, 40, 39);
}

#foooter
{
    width: 1200px;
    margin-top: 350px;
}

#foooter ul
{
    float: left;
    font-size: 10px;
}

#foooter ul li
{
    list-style: none;
    float: left;
    margin-right: 10px;
    color: rgb(165, 156, 143);
    font-size: 10px;
}

#footer a
{
    color: rgb(165, 165, 143);
    font-size: 10px;
    text-decoration: none;
}

#footer a:hover
{
    color: #1ed760;
}
